# Make a .env file with the appropriate values these
DB_HOST=localhost
DB_PORT=3000
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=lto
FRONTEND_URL=http://localhost:3001
API_URL=http://localhost:3000